*{
    margin: 0%;
    box-sizing: 0%;
    padding: 0%;
}
body {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
.card{
    background-color:#FFFFFF;
    width: 353px;
    border-radius: 30px;
    padding: 2%;

}
.detalles h2 {
    font-weight: 700;
    text-align: center;
    margin-top: -12.23%;
}
.detalles p {
    margin-top: 2.5%;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}
.section-button{
    margin-top: 5%;
    font-weight: 900;
    display: flex; 
    justify-content: center;
}
.imagen { 
    background-image: url(./imagenes/Ellipse\ 1.jpg);
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    margin: 0% auto;
    position: relative;
    display: flex;
    justify-content: center;
    top: -60px;
    border-radius: 50%;
    

}
.button1 {
    font-weight: 900;
    border-radius: 12px;
    background: #046BA5;
    color: white;
    width: 242px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 10px;
    border-color: transparent;
}
.button2 {
    width: 51.117px;
    height: 48.428px;
    flex-shrink: 0; border-radius: 12px;
    background: rgba(4, 107, 165, 0.20);
    border-color: transparent;
}